/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;600&family=Raleway:ital,wght@0,400;0,700;1,100&display=swap');

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #ebebeb;
}
body::-webkit-scrollbar{
    display: none;
}
img{
    width: 100%;
    display: block;
}

/* NAVBAR */
ul {
    list-style-type: none;
    padding: 0;
}
/* header {
    min-height: 100vh;
    /* background-color: rgb(208, 208, 208); */
    /* background: linear-gradient(rgba(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)), url(img/bg-header.jpg) center/ cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
} */
.container, .container-inner{
    margin: 0 auto;
    width: 100%;
}
.container{
    max-width: 1350px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.container-inner{
    max-width: 1000px;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em;
    z-index: 9;
    transition: 0.7s;
    color: #fff;
}
.brand{
    font-size: 1.6em;
}
nav .container-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
nav .container-nav ul{
    margin: 0 1em;
}
nav .container ul:nth-child(2) {
    text-align: right;
}
nav .container ul li {
    display: inline-block;
    margin: 0 0.7em;
}
nav a{
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.3s;
    font-weight: 600;
    color: #fff;
}
nav a:hover {
    color: #e54416;
}
.input-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
}
form input,
form button {
    background: none;
    border: none;
    color: #fff;
}
form button{
    cursor: pointer;
}
form input::placeholder {
    color: #fff;
}
nav .bx-menu {
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s;
    text-align: right;
}
nav .bx-menu:hover {
    color: #e54416;
}
.menu{
    background: #111;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    height: 0;
    opacity: 0;
    transition: 0.7s cubic-bezier(.74, -0.03, .83, .67);
    overflow-y: hidden;
}
.logo{
    width: 3em;
}
.menu ul, .menu form{
    margin: 1em auto;
}
.menu li{
    margin: 1em 0;
}
.menu > div {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 6em 1em 3em 1em;
    height: 100%;
    overflow-y: scroll;
}
.menu > div::-webkit-scrollbar{
    display: none;
}
.menu .social-media{
    margin: 2em 0;
}
.social-media li{
    display: inline-block;
    margin: 0 0.5em;
}

/* CLASSES FOR JAVASCRIPT */
.menu-open{
    height: 100vh;
    opacity: 1;
}
.menu-close{
    display: none;
}
.navbar-active{
    background: #111;
    padding: 1em;
}
/* END NAVBAR */

/* SECTION SEARCH */
.container-search{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}
.section-search{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)), url(img/bg-header.jpg) center/ cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.banner-title{
    font-size: 3rem;
}
.banner-title span{
    color: aqua;
}
.banner p{
    padding: 0rem 0 0.3rem 0;
    margin-top: -1.2rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 300;
    word-spacing: 2px;
}
.banner form{
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}
.search-input{
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
    color: #111;
}
.search-input::placeholder{
    text-transform: capitalize;
    color: rgb(117, 117, 117);
}
.search-btn{
    width: 40px;
    font-size: 1.1rem;
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
    color: #111;
}
/* END SEARCH SECTION */

/* ABOUT SECTION */
.section-about{
    background-color: #ebebeb;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.section-about .box-about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.box{
    width: 50%;
    font-size: 1rem;
}
.box h1{
    font-size: 2rem;
}
.box p{
    color: rgb(74, 74, 74);
}
.img-convert{
    width: 80px;
    height: 80px;
    margin-left: 5rem;
    border: solid 1px;
    background-color: rgb(247, 255, 255) ;
    padding: 20px;
    border-radius: 0.5rem; 
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.img-convert:hover{
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(1.05);
    box-shadow: 2px 7px 6px black; 
}
.section-about .box-about .box:nth-child(2) img{
    border-radius: 10px;
}
/* END SECTION ABOUT */

/* SECTION USAGE */
.usage-heading{
    margin: 0 auto;
    padding-bottom: 2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #ebebeb;
}
.usage{
    background-color: #ebebeb;
    margin-top: -3rem;
    padding-bottom: 5rem;
}
.usage-content{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    gap: 2rem;
    height: 100vh;
    margin: 3rem auto;
    width: 90%;
} 
.usage-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    margin: 0 auto;
    width: 100%;
    background: #8888;
    border-radius: 0.4rem;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.usage-box:hover{
    transform: scale(1.05);
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.usage-box h2{
    font-size: 1.1rem;
    font-weight: 800;
    margin: 0.5rem 0;
    color: #3e0e12;
}
.usage-box p{
    font-size: 0.8rem;
    font-weight: 400;
}
/* END USAGE SECTION */

/* SECTION CATEGORIES */
.section-categories{
    background-color: #ebebeb;
    padding-bottom: 5rem;
}
.section-title{
    text-align: center;
    font-size: 2rem;
    padding-top: 30rem;
    margin-top: 0rem;
}
.categories-data {
    padding: 1rem 1rem;
    margin: 2rem auto;
    background-color: rgb(123, 198, 198);
    border-radius: 0.5rem;
    text-align: center;
    width: 90%;
    transition: 0.4s;
    box-shadow: 0 4px 6px rgb(69, 69, 69);
}  
.categories-icon,
.categories-title {
    margin-bottom: 1rem;
    color: #3e0e12;
}  
.categories-icon {
    font-size: 3rem;
}  
.categories-title {
    font-size: 1.25rem;
}  
.categories-description {
    margin-bottom: 2rem;
}
.categories-data:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 6px 8px #7d1d03;
}
.section-categories .sec-img{
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.button {
    display: inline-block;
    background-color: #e9e9e9;
    color: rgb(40, 40, 40);
    text-decoration: none;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    transition: 0.2s;
}
.button:hover{
    background-color: #ffffff;
}
/* END CATEGORIES SECTION */

/* SECTION CONTACT */
.container-contact{
    background-color: #ebebeb;
    padding-top: 4rem;
    margin: 0 auto;
    font-size: 1.5rem;
    height: 100vh;
}
.contact-form{
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    /* width: 80%; */
    display: grid;
    row-gap: 1rem;
}
.form-heading{
    margin: 2rem auto;
    text-align: center;
}
.contact-form input, .contact-form textarea{
   border: none;
   outline: none;
   font-size: 0.9rem;
   padding: 10px;
   color: #fff;
   background: #888;
   border-radius: 0.4rem; 
   width: 45rem;
}
textarea::placeholder{
    color: #fff;
}
.contact-form .send-btn{
    width: 90px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px;
    background: rgb(63, 63, 63);
    cursor: pointer;
}
.send-btn:hover{
    background-color: rgb(123, 123, 123);
}
/* END SECTION CONTACT */

/* SECTION FOOTER */
.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1.4rem;
    padding: 30px 0;
    margin: 0 auto;
}
.social .bx {
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    background: #000;
}
.bx:hover{
    color:#e54416;
}
.footer p{
    font-size: 0.8rem;
}
.footer-links{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.footer-links a{
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    text-decoration: none;
}
.footer-links a:hover{
    color: #e54416;
    transition: 0.2s all linear;
}
/* END SECTION FOOTER */

/* Scroll top */
.scroll-top{
    position: fixed;
    bottom: -100%;
    right: 1.5rem;
    z-index: 100;
}
.scroll-top .bx{
    padding: 8px;
    font-size: 1.3rem;
    color: #fff;
    background-color: rgb(67, 67, 67);
    border-radius: 0.2rem;
}
.scroll-top .bx:hover{
    background-color:rgb(26, 26, 26);
    transition: 0.3s;
}
.scroll-active{
    bottom: 2rem;
    transition: 0.3s;
}

/* MEDIA SCREEN NAVBAR */
@media screen and (max-width: 800px) {
    nav .container-inner{
        display: none;
    }
    nav .container{
        grid-template-columns: 1fr 1fr;
    }
    .banner-title{
        font-size: 2.5rem;
    }
    .banner p{
        font-size: 1rem;
    }
    .banner form{
        padding: 0 0.9rem;
        width: 80%;
        margin-left: 2.5rem;
    }
    .usage-content{
        display: grid;
        grid-template-columns: repeat(3,2fr);
        gap: 2rem;
        height: 100vh;
        /* margin: 3rem 8rem; */
    } 
    .contact-form{
        max-width: 1000;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        /* width: 80%; */
        display: grid;
        row-gap: 1rem;
    }
    .contact-form input, .contact-form textarea{
        font-size: 0.9rem;
        padding: 12px;
        width: 35rem;
        border-radius: 0.4rem; 
     }
}
/* END MEDIA SCREEN NAVBAR */



/*===== MEDIA QUERY =====*/
@media screen and (min-width: 800px) {
    .menu form{
        display: none;
    }
    .usage-content{
        display: grid;
        grid-template-columns: repeat(1,2fr);
        gap: 2rem;
        height: 100vh;
    }
}

@media screen and (max-width: 425px) {
    .usage-content{
        display: grid;
        grid-template-columns: repeat(2,2fr);
        gap: 2rem;
        height: 100vh;
        margin: 3rem auto;
        width: 90%;
    }
    .section-title{
        font-size: 2rem;
        padding-top: 10rem;
        margin-top: 15rem;
    }
    .contact-form input, .contact-form textarea{
        font-size: 0.9rem;
        padding: 12px;
        width: 25rem;
        border-radius: 0.4rem; 
     }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 13px;
    }
    .usage-content{
        display: grid;
        grid-template-columns: repeat(1,2fr);
        gap: 2rem;
        height: 100vh;
    }
}

@media screen and (max-width: 375px) {
    .banner{
        width: 90%;
        margin: 0 auto;
    }
    .usage-content{
        display: grid;
        grid-template-columns: repeat(2,2fr);
        gap: 2rem;
        height: 100vh;
        margin: 3rem auto;
        width: 90%;
    }
    .section-title{
        font-size: 2rem;
        padding-top: 8rem;
        margin-top: 12rem;
    }
    .container-contact{
        padding-top: 4rem;
        margin: 0 auto;
        font-size: 1.5rem;
        height: 70vh;
    }
    .contact-form input, .contact-form textarea{
        font-size: 0.9rem;
        padding: 12px;
        width: 20rem;
        border-radius: 0.4rem; 
        /* margin: 0 auto; */
     }
}
@media screen and (max-width: 320px) {
    .banner{
        width: 90%;
        margin: 0 auto;
    }
    .usage-content{
        display: grid;
        grid-template-columns: repeat(1,2fr);
        gap: 2rem;
        height: 100vh;
        margin: 3rem auto;
        width: 90%;
    }
    .section-title{
        font-size: 2rem;
        padding-top: 8rem;
        margin-top: 30rem;
    }
    .container-contact{
        padding-top: 4rem;
        margin: 0 auto;
        font-size: 1.5rem;
        height: 70vh;
    }
    .contact-form input, .contact-form textarea{
        font-size: 0.9rem;
        padding: 12px;
        width: 20rem;
        border-radius: 0.4rem; 
        /* margin: 0 auto; */
     }
}