/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;600&family=Raleway:ital,wght@0,400;0,700;1,100&display=swap');

/* VARIABLE CSS */
:root{
    --main-color: #46406c;
    --second-color: #848484;
    --bg-color: #fff;
    --bg-color2: #342f52;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Josefin Sans', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(to bottom, #b8307c, #4a3f6c); */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1289%26quot%3b)' fill='none'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1291%26quot%3b)'%3e%3cpath d='M710.5 391.5L681.5 362.5L681.5 333.5M710.5 246.5L681.5 217.5M710.5 159.5L681.5 130.5M710.5 478.5L739.5 449.5L739.5 420.5M710.5 594.5L710.5 565.5L710.5 536.5L710.5 507.5L710.5 478.5L710.5 449.5L710.5 420.5L710.5 391.5L710.5 362.5L710.5 333.5L710.5 304.5L710.5 275.5L710.5 246.5L710.5 217.5L710.5 188.5L710.5 159.5L710.5 130.5' stroke='url(%23SvgjsLinearGradient1290)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M703.25 130.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM674.25 333.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM674.25 217.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM674.25 130.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM732.25 420.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1290)'%3e%3c/path%3e%3cpath d='M768.5 304.5L797.5 275.5L797.5 246.5L797.5 217.5L797.5 188.5M768.5 188.5L739.5 159.5L739.5 130.5L739.5 101.5M768.5 246.5L739.5 217.5L739.5 188.5M739.5 507.5L739.5 478.5M739.5 594.5L739.5 565.5L739.5 536.5L739.5 507.5L768.5 478.5L768.5 449.5L768.5 420.5L768.5 391.5L768.5 362.5L768.5 333.5L768.5 304.5L768.5 275.5L768.5 246.5L768.5 217.5L768.5 188.5L768.5 159.5L768.5 130.5' stroke='url(%23SvgjsLinearGradient1290)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M761.25 130.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM790.25 188.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM732.25 101.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM732.25 188.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM732.25 478.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1290)'%3e%3c/path%3e%3cpath d='M681.5 420.5L681.5 391.5M652.5 304.5L681.5 275.5L681.5 246.5M652.5 246.5L623.5 217.5L623.5 188.5L623.5 159.5M681.5 594.5L681.5 565.5L681.5 536.5L681.5 507.5L681.5 478.5L681.5 449.5L681.5 420.5L652.5 391.5L652.5 362.5L652.5 333.5L652.5 304.5L652.5 275.5L652.5 246.5L652.5 217.5' stroke='url(%23SvgjsLinearGradient1290)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M645.25 217.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM674.25 391.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM674.25 246.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM616.25 159.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1290)'%3e%3c/path%3e%3cpath d='M768.5 594.5L768.5 565.5' stroke='url(%23SvgjsLinearGradient1290)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M761.25 565.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1290)'%3e%3c/path%3e%3cpath d='M623.5 362.5L594.5 333.5L594.5 304.5L594.5 275.5L594.5 246.5M652.5 594.5L652.5 565.5L652.5 536.5L652.5 507.5L652.5 478.5L652.5 449.5L652.5 420.5L623.5 391.5L623.5 362.5L623.5 333.5L623.5 304.5L623.5 275.5' stroke='url(%23SvgjsLinearGradient1290)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M616.25 275.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM587.25 246.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1290)'%3e%3c/path%3e%3cpath d='M797.5 536.5L826.5 507.5M797.5 565.5L826.5 536.5M797.5 594.5L797.5 565.5L797.5 536.5L797.5 507.5L797.5 478.5L797.5 449.5L797.5 420.5L797.5 391.5' stroke='url(%23SvgjsLinearGradient1290)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M790.25 391.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM819.25 507.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM819.25 536.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1290)'%3e%3c/path%3e%3cpath d='M594.5 391.5L594.5 362.5M507.5 130.5L536.5 101.5M565.5 188.5L565.5 159.5L565.5 130.5L565.5 101.5M536.5 159.5L536.5 130.5M623.5 594.5L623.5 565.5L623.5 536.5L623.5 507.5L623.5 478.5L623.5 449.5L623.5 420.5L594.5 391.5L565.5 362.5L565.5 333.5L565.5 304.5L565.5 275.5L565.5 246.5L565.5 217.5L565.5 188.5L536.5 159.5L507.5 130.5L507.5 101.5' stroke='url(%23SvgjsLinearGradient1290)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M500.25 101.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM587.25 362.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM529.25 101.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM558.25 101.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM529.25 130.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1290)'%3e%3c/path%3e%3cpath d='M826.5 304.5L855.5 275.5L855.5 246.5L855.5 217.5L855.5 188.5M826.5 391.5L855.5 362.5L855.5 333.5L855.5 304.5L884.5 275.5M826.5 478.5L855.5 449.5L855.5 420.5L855.5 391.5M826.5 594.5L855.5 565.5L855.5 536.5L855.5 507.5L826.5 478.5L826.5 449.5L826.5 420.5L826.5 391.5L826.5 362.5L826.5 333.5L826.5 304.5L826.5 275.5L826.5 246.5' stroke='url(%23SvgjsLinearGradient1290)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M819.25 246.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM848.25 188.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM877.25 275.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM848.25 391.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1290)'%3e%3c/path%3e%3cpath d='M536.5 246.5L507.5 217.5L507.5 188.5L478.5 159.5M594.5 449.5L565.5 420.5M536.5 304.5L507.5 275.5L507.5 246.5M594.5 594.5L594.5 565.5L594.5 536.5L594.5 507.5L594.5 478.5L594.5 449.5L594.5 420.5L565.5 391.5L536.5 362.5L536.5 333.5L536.5 304.5L536.5 275.5L536.5 246.5L536.5 217.5L536.5 188.5L507.5 159.5L478.5 130.5' stroke='url(%23SvgjsLinearGradient1290)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M471.25 130.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM471.25 159.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM558.25 420.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM500.25 246.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1290)'%3e%3c/path%3e%3cpath d='M565.5 507.5L536.5 478.5L536.5 449.5L536.5 420.5L536.5 391.5M565.5 594.5L565.5 565.5L565.5 536.5L565.5 507.5L565.5 478.5' stroke='url(%23SvgjsLinearGradient1290)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M558.25 478.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM529.25 391.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1290)'%3e%3c/path%3e%3cpath d='M884.5 594.5L884.5 565.5L884.5 536.5' stroke='url(%23SvgjsLinearGradient1290)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M877.25 536.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1290)'%3e%3c/path%3e%3cpath d='M536.5 594.5L536.5 565.5L536.5 536.5' stroke='url(%23SvgjsLinearGradient1290)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M529.25 536.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1290)'%3e%3c/path%3e%3cpath d='M942.5 536.5L913.5 507.5L913.5 478.5M971.5 362.5L942.5 333.5M971.5 304.5L942.5 275.5L942.5 246.5L942.5 217.5M913.5 594.5L913.5 565.5L942.5 536.5L942.5 507.5L942.5 478.5L942.5 449.5L942.5 420.5L942.5 391.5L971.5 362.5L971.5 333.5L971.5 304.5L971.5 275.5L971.5 246.5L971.5 217.5' stroke='url(%23SvgjsLinearGradient1290)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M964.25 217.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM906.25 478.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM935.25 333.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM935.25 217.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1290)'%3e%3c/path%3e%3cpath d='M507.5 478.5L478.5 449.5M507.5 420.5L478.5 391.5M507.5 362.5L478.5 333.5L478.5 304.5M507.5 594.5L507.5 565.5L507.5 536.5L507.5 507.5L507.5 478.5L507.5 449.5L507.5 420.5L507.5 391.5L507.5 362.5L507.5 333.5' stroke='url(%23SvgjsLinearGradient1290)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M500.25 333.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM471.25 449.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM471.25 391.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM471.25 304.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1290)'%3e%3c/path%3e%3cpath d='M942.5 594.5L942.5 565.5L971.5 536.5L971.5 507.5' stroke='url(%23SvgjsLinearGradient1290)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M964.25 507.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1290)'%3e%3c/path%3e%3cpath d='M449.5 449.5L420.5 420.5L420.5 391.5M478.5 507.5L478.5 478.5M449.5 362.5L420.5 333.5L420.5 304.5L420.5 275.5M478.5 594.5L478.5 565.5L478.5 536.5L478.5 507.5L449.5 478.5L449.5 449.5L449.5 420.5L449.5 391.5L449.5 362.5L449.5 333.5' stroke='url(%23SvgjsLinearGradient1290)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M442.25 333.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM413.25 391.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM471.25 478.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM413.25 275.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1290)'%3e%3c/path%3e%3cpath d='M1000.5 507.5L1000.5 478.5L1000.5 449.5M971.5 594.5L971.5 565.5L1000.5 536.5L1000.5 507.5L971.5 478.5L971.5 449.5L971.5 420.5L971.5 391.5L1000.5 362.5L1000.5 333.5L1000.5 304.5' stroke='url(%23SvgjsLinearGradient1290)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M993.25 304.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM993.25 449.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1290)'%3e%3c/path%3e%3cpath d='M449.5 536.5L449.5 507.5M449.5 594.5L449.5 565.5L449.5 536.5L420.5 507.5' stroke='url(%23SvgjsLinearGradient1290)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M413.25 507.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM442.25 507.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1290)'%3e%3c/path%3e%3cpath d='M1000.5 217.5L1000.5 188.5M1029.5 246.5L1029.5 217.5L1029.5 188.5L1029.5 159.5L1029.5 130.5M1029.5 449.5L1029.5 420.5L1029.5 391.5L1058.5 362.5L1058.5 333.5M1029.5 304.5L1058.5 275.5L1058.5 246.5L1087.5 217.5L1087.5 188.5L1087.5 159.5M1000.5 594.5L1000.5 565.5L1029.5 536.5L1029.5 507.5L1029.5 478.5L1029.5 449.5L1000.5 420.5L1000.5 391.5L1029.5 362.5L1029.5 333.5L1029.5 304.5L1029.5 275.5L1029.5 246.5L1000.5 217.5L971.5 188.5L971.5 159.5' stroke='url(%23SvgjsLinearGradient1290)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M964.25 159.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM993.25 188.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM1022.25 130.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM1051.25 333.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM1080.25 159.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1290)'%3e%3c/path%3e%3cpath d='M420.5 594.5L420.5 565.5L420.5 536.5L391.5 507.5L362.5 478.5' stroke='url(%23SvgjsLinearGradient1290)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M355.25 478.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1290)'%3e%3c/path%3e%3cpath d='M1087.5 449.5L1058.5 420.5L1058.5 391.5M1087.5 275.5L1116.5 246.5L1145.5 217.5L1145.5 188.5L1174.5 159.5M1087.5 333.5L1116.5 304.5L1116.5 275.5M1087.5 420.5L1116.5 391.5L1116.5 362.5L1116.5 333.5M1029.5 594.5L1029.5 565.5L1058.5 536.5L1058.5 507.5L1058.5 478.5L1087.5 449.5L1087.5 420.5L1087.5 391.5L1087.5 362.5L1087.5 333.5L1087.5 304.5L1087.5 275.5L1087.5 246.5L1116.5 217.5L1116.5 188.5L1116.5 159.5' stroke='url(%23SvgjsLinearGradient1290)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M1109.25 159.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM1051.25 391.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM1167.25 159.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM1109.25 275.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM1109.25 333.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1290)'%3e%3c/path%3e%3cpath d='M304.5 391.5L333.5 362.5L333.5 333.5L333.5 304.5L333.5 275.5M333.5 449.5L333.5 420.5L333.5 391.5M391.5 594.5L391.5 565.5L391.5 536.5L362.5 507.5L333.5 478.5L333.5 449.5L304.5 420.5L304.5 391.5L304.5 362.5' stroke='url(%23SvgjsLinearGradient1290)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M297.25 362.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM326.25 275.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM326.25 391.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1290)'%3e%3c/path%3e%3cpath d='M1087.5 536.5L1116.5 507.5M1058.5 594.5L1058.5 565.5L1087.5 536.5L1087.5 507.5' stroke='url(%23SvgjsLinearGradient1290)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M1080.25 507.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM1109.25 507.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1290)'%3e%3c/path%3e%3cpath d='M275.5 304.5L304.5 275.5L304.5 246.5L304.5 217.5L304.5 188.5M275.5 391.5L246.5 362.5L246.5 333.5M275.5 275.5L246.5 246.5M362.5 594.5L362.5 565.5L362.5 536.5L333.5 507.5L304.5 478.5L304.5 449.5L275.5 420.5L275.5 391.5L275.5 362.5L275.5 333.5L275.5 304.5L275.5 275.5L275.5 246.5L275.5 217.5' stroke='url(%23SvgjsLinearGradient1290)' stroke-width='4.83'%3e%3c/path%3e%3cpath d='M268.25 217.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM297.25 188.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM239.25 333.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0zM239.25 246.5 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' fill='url(%23SvgjsLinearGradient1290)'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1289'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0' y1='288.4' x2='1440' y2='288.4' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1290'%3e%3cstop stop-color='%233a7cc3' offset='0'%3e%3c/stop%3e%3cstop stop-color='%23dd1133' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cmask id='SvgjsMask1291'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3cpath d='M706.87 130.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM677.87 333.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM677.87 217.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM677.87 130.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM735.87 420.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M764.87 130.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM793.87 188.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM735.87 101.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM735.87 188.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM735.87 478.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M648.87 217.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM677.87 391.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM677.87 246.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM619.87 159.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M764.87 565.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M619.87 275.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM590.87 246.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M793.87 391.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM822.87 507.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM822.87 536.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M503.87 101.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM590.87 362.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM532.87 101.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM561.87 101.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM532.87 130.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M822.87 246.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM851.87 188.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM880.87 275.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM851.87 391.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M474.87 130.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM474.87 159.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM561.87 420.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM503.87 246.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M561.87 478.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM532.87 391.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M880.87 536.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M532.87 536.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M967.87 217.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM909.87 478.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM938.87 333.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM938.87 217.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M503.87 333.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM474.87 449.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM474.87 391.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM474.87 304.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M967.87 507.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M445.87 333.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM416.87 391.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM474.87 478.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM416.87 275.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M996.87 304.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM996.87 449.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M416.87 507.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM445.87 507.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M967.87 159.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM996.87 188.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM1025.87 130.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM1054.87 333.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM1083.87 159.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M358.87 478.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M1112.87 159.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM1054.87 391.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM1170.87 159.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM1112.87 275.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM1112.87 333.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M300.87 362.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM329.87 275.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM329.87 391.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M1083.87 507.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM1112.87 507.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M271.87 217.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM300.87 188.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM242.87 333.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0zM242.87 246.5 a3.63 3.63 0 1 0 7.26 0 a3.63 3.63 0 1 0 -7.26 0z' fill='black'%3e%3c/path%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* overflow: hidden; */
}
body::-webkit-scrollbar{
    display: none;
}

/* NAVBAR */
ul {
    list-style-type: none;
    padding: 0;
}
header {
    min-height: 100vh;
    background-color: #000;
}
/* main{
    padding: 2em;
    background: #111;
}
main p{
    font-size: 1em;
    line-height: 27px;
    color: #fff;
} */
.container-nav, .container-inner{
    margin: 0 auto;
    width: 100%;
}
.container-nav{
    max-width: 1350px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.container-inner{
    max-width: 1000px;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em;
    z-index: 9;
    transition: 0.7s;
    color: #000;
}
.brand{
    font-size: 1.6em;
}
nav .container-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
nav .container-nav ul{
    width: 100%;
    margin: 0 1em;
}
nav .container-nav ul:nth-child(2) {
    text-align: right;
}
nav .container-nav ul li {
    display: inline-block;
    margin: 0 0.7em;
}
nav a{
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.3s;
    font-weight: 600;
    color: #000;
}
nav a:hover {
    color: #e54416;
}
.input-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
}
form input,
form button {
    background: none;
    border: none;
    color: #000;
}
form button{
    cursor: pointer;
}
form input::placeholder {
    color: #000;
}
nav .bx-menu {
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s;
    text-align: right;
}
nav .bx-menu:hover {
    color: #e54416;
}
.menu{
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    height: 0;
    opacity: 0;
    transition: 0.7s cubic-bezier(.74, -0.03, .83, .67);
    overflow-y: hidden;
}
.logo{
    width: 3em;
}
.menu ul, .menu form{
    margin: 1em auto;
}
.menu li{
    margin: 1em 0;
}
.menu > div {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 6em 1em 3em 1em;
    height: 100%;
    overflow-y: scroll;
}
.menu > div::-webkit-scrollbar{
    display: none;
}
.menu .social-media{
    margin: 2em 0;
}
.social-media li{
    display: inline-block;
    margin: 0 0.5em;
}

/* CLASSES FOR JAVASCRIPT */
.menu-open{
    height: 100vh;
    opacity: 1;
}
.navbar-active{
    background: #000;
    padding: 1em;
}

/* MEDIA SCREEN NAVBAR */
@media screen and (max-width: 800px) {
    nav .container-inner{
        display: none;
    }
    nav .container-nav{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 800px) {
    .menu form{
        display: none;
    }
}


.container{
    background-color: #fbfbfb;
    width: 600px;
    height: 480px;
    padding: 70px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    border-radius: 9px;
    margin-top: 5rem;
}

.img-currency{
    height: 50px;
    width: 50px;
    margin-left: 12.5rem;
}

.heading{
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    padding-top: 1rem;
}

.rate{
    margin-top: 1rem;
}

.rate1{
    color: var(--second-color);
}

.rate2{
    margin-top: 0.2rem;
    font-size: 0.7rem;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.2rem;
}

.material-icons{
    font-size: 35px;
}

.swap{
    align-self: flex-end;
    padding: 6px;
    cursor: pointer;
}

.options select{
    padding: 3%;
    margin-left: 0.03rem;
    width: 65px;
}

.input input{
    all: unset;
    display: inline-block;
    margin-top: 0.8rem;
    width: 200px; /*175*/
    height: 42px;
    padding: 5px;
    background-color: #ebebeb;
    color: var(--second-color);
    font-size: 1.3rem;
    border: none;
    box-sizing: border-box;
    border-radius: 7px;
    font-weight: 600;
    appearance: textfield;
}

.target{
    transform: translateX(-1%);
}

.result{
    margin-top: 1.2rem;
    width: 100%;
    height: 50px;
    text-align: center;
    color: var(--bg-color);
    background-color: var(--main-color);
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
}

.result:active{
    background-color: var(--bg-color2);
}

.container p{
    margin-top: 3.5rem;
    text-align: center;
}

/* MEDIA QUERRY */
@media screen and (min-width: 376px) and (max-width: 425px) {
    .container{
        width: 80%;
    }
    .img-currency{
        height: 37px;
        width: 37px;
        margin-left: 5rem;
    }
    .heading{
        font-size: 1rem;
    }
    .rate1{
        font-size: 0.8rem;
    }
    .rate2{
        font-size: 0.6rem;
    }
    .main{
        margin-top: 1rem;
    }
    .material-icons{
        font-size: 1.2rem;
    }
    .options select{
        padding: 3%;
        margin-left: 0.03rem;
        width: 50px;
        font-size: 0.5rem;
    }
    .input input{
        margin-top: 0.8rem;
        width: 80px; /*175*/
        height: 30px;
        padding: 5px;
        font-size: 0.8rem;
        border-radius: 4px;
    }
    .result{
        margin-top: 1.2rem;
        width: 100%;
        height: 40px;
        border-radius: 4px;
        font-size: 1rem;
    }
    .container p{
        margin-top: 3.5rem;
        width: 100%;
        font-size: 0.6rem;
    }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
    .container{
        width: 80%;
        height: auto;
    }
    .img-currency{
        height: 30px;
        width: 30px;
        margin-left: 4rem;
    }
    .heading{
        font-size: 0.8rem;
    }
    .rate1{
        font-size: 0.7rem;
    }
    .rate2{
        font-size: 0.5rem;
    }
    .main{
        margin-top: 1rem;
    }
    .swap{
        padding: 3px;
    }
    .material-icons{
        font-size: 1rem;
    }
    .options select{
        padding: 3%;
        margin-left: 0.03rem;
        width: 35px;
        font-size: 0.6rem;
    }
    .input input{
        margin-top: 0.5rem;
        width: 60px; /*175*/
        height: 22px;
        padding: 5px;
        font-size: 0.8rem;
        border-radius: 4px;
    }
    .result{
        margin-top: 1.2rem;
        width: 100%;
        height: 30px;
        border-radius: 4px;
        font-size: 1rem;
    }
    .container p{
        padding-top: 2rem;
        width: 100%;
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 320px) {
    .container{
        width: 80%;
        height: auto;
    }
    .img-currency{
        height: 25px;
        width: 25px;
        margin-left: 3rem;
    }
    .heading{
        font-size: 1rem;
    }
    .rate1{
        font-size: 0.7rem;
    }
    .rate2{
        font-size: 0.6rem;
    }
    .main{
        margin-top: 1rem;
    }
    .swap{
        padding: 2px;
    }
    .material-icons{
        font-size: 1rem;
    }
    .options select{
        padding: 2%;
        margin-left: 0.03rem;
        width: 20px;
        font-size: 0.5rem;
    }
    .input input{
        margin-top: 0.5rem;
        width: 40px; /*175*/
        height: 20px;
        padding: 5px;
        font-size: 0.5rem;
        border-radius: 4px;
    }
    .result{
        margin-top: 1rem;
        width: 100%;
        height: 25px;
        border-radius: 4px;
        font-size: 0.8rem;
    }
    .container p{
        padding-top: 2rem;
        width: 100%;
        font-size: 0.4rem;
    }
}